{% extends "base.html" %}

{% load humanize %}

{% block title %} |{{detail.tag|title}} Rooms {% endblock title %}
{% block header %} {% include 'header.html' %} {% endblock header %}
{% block banner %} {% include 'banner.html' %} {% endblock banner %}
{% block content %}
<section>
  <div class="container-fluid">
    <h1 class="title">Reservation Successful</h1>
    <div class="row callback">
      <div class="col-12 col-sm-12 col-md-5 col-lg-4">
        <div class="img-pcard">
          <img src="{{profile.pix.url}}" alt="">
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-5 col-lg-5">
        <div class="call">
          <h3>Dear <span>{{profile.first_name}}</span> your booking is completed!</h3>
          <h4>Find your reservation details below...</h4>
          <h5>thank you for your patronage!</h5>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-2 col-lg-3 mt-5">
        <div class="pro-links">
          <h4 class="mb-4">Useful Links</h4>
          <ul class="list-unstyled">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'rooms' %}">gallery</a></li>
            <li><a href="{% url 'profile' %}">profile</a></li>
            <li><a href="{% url 'profile_update' %}">profile update</a></li>
            <li><a href="{% url 'password_update' %}">password update</a></li>
            <li><a href="{% url 'history' %}">booking history</a></li>
          </ul>
        </div>
    </div>
    <div class="container mt-5">
    <div class="container mt-5">
      <div class="cart">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">remove</th>
              <th scope="col">room</th>
              <th scope="col">rate</th>
              <th scope="col">type</th>
              <th scope="col">room_no</th>
              <th scope="col">checkin</th>
              <th scope="col">checkout</th>
              <th scope="col">days</th>
              <th scope="col">amount</th>
            </tr>
          </thead>
          <tbody>
            {% if reserved %}
                {% for item in reserved %}
                <tr>
                    <td class="remov">
                      <form action="{% url 'delete' %}" method="POST"> 
                      {% csrf_token %}
                        <input type="hidden" name="room_id" value="{{item.id}}">
                        <button type="submit"><i class="fas fa-backspace"></i></button>
                      </form>
                    </td>
                    <td><img src="{{item.room.room_img.url}}" alt=""></td>
                    <td>₦{{item.price|floatformat:2|intcomma}}</td>
                    <td>{{item.room.tag}}</td>
                    <td>{{item.room.room_no}}</td>
                    <td>{{item.checkin}}</td>
                    <td>{{item.checkout}}</td>
                    <td>{{item.no_days}}</td>
                    <td>₦{{item.amount|floatformat:2|intcomma}}</td>
                  </tr>
                {% endfor %}
            {% endif %}
          </tbody>
        </table>
        <table class="cart table">
            <tbody>
            <tr>
              <td class="row"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Total: ₦{{total|floatformat:2|intcomma}}</td>
            </tr>
            <!-- <td class="row"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><a href="{% url 'checkout' %}" class="btn ml-5 mt-3 float-right detail-btn">checkout</a></td>  -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
{% block footer %} {% include 'footer.html' %} {% endblock footer %}